@{
    ViewBag.Title = "A jQuery wizard plugin";
}

@section HtmlHeader
{
    <link rel="next" title="Getting Started with jQuery Steps" href="http://www.jquery-steps.com/GettingStarted">
}

@section Header
{
    <header role="banner">
        <h1>jQuery Steps</h1>
        <p>An all-in-one <strong>wizard plugin</strong> that is extremely flexible, compact and <span class="nowrap">feature-rich.</span></p>
        <a href="https://github.com/rstaib/jquery-steps/raw/master/build/jquery.steps-1.0.0.zip" class="btn btn-primary btn-large">Download</a>
    </header>
}

<div class="content startpage" role="main">
    <div class="row-fluid">
        <div class="span4 box">
            <img src="@Url.Content("~/Content/images/lightweight.png")">
            <h2>Lightweight Footprint</h2>
            <p>Only 2.6 KB minified & gzipped</p>
        </div>
        <div class="span4 box">
            <img src="@Url.Content("~/Content/images/html5.png")">
            <h2>HTML5 & Accessibility Support</h2>
            <p>The newest technologies and <abbr title="Accessible Rich Internet Applications">ARIA</abbr> come together to make it feasible</p>
        </div>
        <div class="span4 box">
            <img src="@Url.Content("~/Content/images/crossbrowser.png")">
            <h2>Cross Browser Support</h2>
            <p>IE, Firefox, Chrome, Safari, Opera and more</p>
        </div>
    </div>
</div>