@{
    ViewBag.Title = "Index";
}

@section Header
{
    <header role="banner">
        <h1>jQuery Steps</h1>
        <p>An all-in-one <strong>wizard plugin</strong> that is extremely flexible, compact and <span class="nowrap">feature-rich.</span></p>
        <a href="/" class="btn">Download</a>
    </header>
}

<div class="content startpage">
    <div class="row">
        <div class="span4 box">
            <img src="@Url.Content("~/Content/images/lightweight.png")">
            <h2>Lightweight Footprint</h2>
            <p>Only 2.5 KB minified & gzipped</p>
        </div>
        <div class="span4 box">
            <img src="@Url.Content("~/Content/images/html5.png")">
            <h2>HTML5 & Accessibility Support</h2>
            <p>...</p>
        </div>
        <div class="span4 box">
            <img src="@Url.Content("~/Content/images/crossbrowser.png")">
            <h2>Cross Browser Support</h2>
            <p>IE, Firefox, Chrome, Safari, Opera and more</p>
        </div>
    </div>
</div>