@{
    ViewBag.Title = "Examples";
    ViewBag.Examples = true;
}

@section Header
{
    <header id="banner" role="banner">
        <h1>Examples</h1>
        <p>See how beautiful jQuery Steps is and what you can do with it!</p>
    </header>
}

<div class="content">
    <div class="row-fluid">
        <nav id="lefthand" class="span3">
            <ul id="lefthand-nav" class="nav nav-list">
                <li><a href="#basic">Basic Example</a></li>
                <li><a href="#basic-form">Basic Form Example</a></li>
                <li><a href="#advanced-form">Advanced Form Example</a></li>
                <li><a href="#manipulation">Dynamic Manipulation Example</a></li>
                <li><a href="#tabs">Tabs Example</a></li>
                <li><a href="#vertical">Vertical Steps Example</a></li>
                <li><a href="#async">Async Content Loading Example</a></li>
                <li><a href="#embed">Embedded Content Example</a></li>
            </ul>
        </nav>
        <div class="span9 main">
            <section id="basic">
                <h2 class="page-header">Basic Example</h2>
                <div id="wizard-1">
                    <h3>Keyboard</h3>
                    <section>
                        <p>Try the keyboard navigation by clicking arrow left or right!</p>
                    </section>

                    <h3>Transition Effects</h3>
                    <section>
                        <p>ljlkjlk</p>
                    </section>

                    <h3>Pager</h3>
                    <section>
                        <p>jggj</p>
                    </section>
                </div>
            </section>
            <section id="basic-form">
                <h2 class="page-header">Basic Form Example</h2>
                <form id="form-2" action="#">
                    <div id="wizard-2">
                        <h4>Account</h4>
                        <section>
                            <label for="userName">User name *</label><br>
                            <input id="userName" name="userName" type="text" class="required"><br>
                            <label for="password">Password *</label><br>
                            <input id="password" name="password" type="text" class="required"><br>
                            <label for="confirm">Confirm Password *</label><br>
                            <input id="confirm" name="confirm" type="text" class="required"><br>
                            <p>(*) Mandatory</p>
                        </section>

                        <h4>Profile</h4>
                        <section>
                            <label for="name">First name *</label><br>
                            <input id="name" name="name" type="text" class="required"><br>
                            <label for="surname">Last name *</label><br>
                            <input id="surname" name="surname" type="text" class="required"><br>
                            <label for="email">Email *</label><br>
                            <input id="email" name="email" type="text" class="required email"><br>
                            <label for="address">Address</label><br>
                            <input id="address" name="address" type="text"><br>
                            <p>(*) Mandatory</p>
                        </section>

                        <h4>Hints</h4>
                        <section>
                            <ul>
                                <li>Foo</li>
                                <li>Bar</li>
                                <li>Foobar</li>
                            </ul>
                        </section>

                        <h4>Finish</h4>
                        <section>
                            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                        </section>
                    </div>
                </form>
            </section>
            <section id="advanced-form">
                <h2 class="page-header">Advanced Form Example</h2>
                
            </section>
            <section id="manipulation">
                <h2 class="page-header">Dynamic Manipulation Example</h2>

            </section>
            <section id="tabs">
                <h2 class="page-header">Tabs Example</h2>

            </section>
            <section id="vertical">
                <h2 class="page-header">Vertical Steps Example</h2>

            </section>
            <section id="async">
                <h2 class="page-header">Async Content Loading Example</h2>

            </section>
            <section id="embed">
                <h2 class="page-header">Embedded Content Example</h2>

            </section>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function ()
        {
            $("#lefthand-nav").affix({
                offset: {
                    top: function ()
                    {
                        return $("#topbar").outerHeight() + $("#banner").outerHeight();
                    }
                }
            });

            prettyPrint();

            $("#wizard-1").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true
            });

            $("#form-2").validate({
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

            $("#wizard-2").steps({
                headerTag: "h4",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    $("#form-2").validate().settings.ignore = ":disabled,:hidden";
                    return $("#form-2").valid();
                },
                onFinishing: function (event, currentIndex)
                {
                    $("#form-2").validate().settings.ignore = ":disabled";
                    return $("#form-2").valid();
                },
                onFinished: function (event, currentIndex)
                {
                    alert("Submitted!");
                }
            });
        });
    </script>
}