/*.linearGradient (@angle, @colorA, @colorB)
{
    background-color: @colorA;
    background-image: -moz-linear-gradient(@angle, @colorA, @colorB);
    background-image: -ms-linear-gradient(@angle, @colorA, @colorB);
    background-image: -o-linear-gradient(@angle, @colorA, @colorB);
    background-image: -webkit-linear-gradient(@angle, @colorA, @colorB);
    background-image: linear-gradient(@angle, @colorA, @colorB);
}*/

/*.noBoxShadow()
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.noTextShadow()
{
    -webkit-text-shadow: none;
    text-shadow: none;
}

.boxShadow(@hShadow, @vShadow, @blur, @spread, @color)
{
    -webkit-box-shadow: @hShadow @vShadow @blur @spread @color;
    -moz-box-shadow: @hShadow @vShadow @blur @spread @color;
    box-shadow: @hShadow @vShadow @blur @spread @color;
}*/

html
{
    font-size: 100%;
}

body
{
    background: url("images/bg.jpg") fixed repeat;
    color: #193954;
    font-size: 0.875em;
    line-height: 1.5em;
}

a
{
    color: #2184be;
}

a:hover,
a:active
{
    color: #193954;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

p, p.lead
{
    line-height: 1.75em;
    margin: 0 0 1em;
}

ol, ul
{
    margin: 0 0 1em 2em;
}

ol > li, ul > li
{
    line-height: 1.75em;
}

.nowrap
{
    white-space: nowrap;
}

.btn
{
    line-height: 1em;
    padding: 0.5em 1em;
}

.btn:hover,
.btn:active
{
    background-image: none;
}

.btn-primary
{
    border-color: #2184be #69c #69c #2184be;

    background-color: #69c;
    *background-color: #69c;
    background-image: -moz-linear-gradient(top, #69c, #2184be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#69c), to(#2184be));
    background-image: -webkit-linear-gradient(top, #69c, #2184be);
    background-image: -o-linear-gradient(top, #69c, #2184be);
    background-image: linear-gradient(to bottom, #69c, #2184be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6699cc", endColorstr="#ff2184be", GradientType=0);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
{
    background-color: #2184be;
    *background-color: #2184be;
}
.btn-primary:active,
.btn-primary.active
{
    background-color: #2184be \9;
}

.btn-large
{
    font-size: 1.429em;
}

.sitewrapper
{
    background: #fff;
    padding-top: 4.286em;

    -webkit-box-shadow: 0 0 12px 5px #e7e7e7;
    -moz-box-shadow: 0 0 12px 5px #e7e7e7;
    box-shadow: 0 0 12px 5px #e7e7e7;
}

    .sitewrapper > header
    {
        color: #2184be;
        position: relative;
        text-align: center;
        /*min-height: 22.857em;*/
        padding: 2.857em 1.429em 4.286em;
        margin: 0;

        background-color: #eee;
        background-image: -moz-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: -ms-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: -o-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: -webkit-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
    }

        .sitewrapper > header > h1
        {
            font-size: 4.286em;
            font-weight: normal;
            line-height: 1.167em;
            margin-bottom: 0.4em;

            -webkit-text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
            text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
        }

        .sitewrapper > header > p
        {
            font-size: 2.429em;
            line-height: 1.235em;
            margin: 0 auto 0.882em;
            width: 60%;

            -webkit-text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
            text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
        }

        .sitewrapper > header > .btn-large
        {
            font-size: 2em;
        }

    .sitewrapper > .socialbar
    {
        background: #eee;
        padding: 1.071em 1.429em;
        text-align: center;
    }

        .sitewrapper > .socialbar > .fb-like > span,
        .sitewrapper > .socialbar iframe
        {
            width: 110px !important;
        }

    .sitewrapper > .content
    {
    }

        .sitewrapper > .content #lefthand
        {
            padding: 2.857em 0 0;
        }

            .sitewrapper > .content #lefthand-nav
            {
                padding: 0;
            }
    
            .sitewrapper > .content #lefthand-nav.affix
            {
                top: 7.143em;
                width: 270px;
            }

                .sitewrapper > .content #lefthand-nav > li > a
                {
                    background: #eee;
                    color: #2184be;
                    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    margin: 0;
                    padding: 0.741em 1.429em;

                    -webkit-text-shadow: none;
                    text-shadow: none;
                }

                .sitewrapper > .content #lefthand-nav > li > a:hover,
                .sitewrapper > .content #lefthand-nav > li > a:active,
                .sitewrapper > .content #lefthand-nav > li.active > a,
                .sitewrapper > .content #lefthand-nav > li.active > a:hover,
                .sitewrapper > .content #lefthand-nav > li.active > a:active
                {
                    background: #2184be;
                    color: #fff;
                }

                .sitewrapper > .content #lefthand-nav > li.active > a
                {
                    font-weight: 700;
                }

        .sitewrapper > .content .main
        {
            padding-bottom: 2.857em;
        }

            .sitewrapper > .content .main > section
            {
                margin-top: -1.429em;
                padding: 2.857em 2.857em 0 0;
            }

                .sitewrapper > .content .main > section > h2.page-header
                {
                    font-size: 2.857em;
                    font-weight: 700;
                    line-height: 1.5em;
                    margin: 0.5em 0 0.75em;
                    padding: 0 0 0.25em;
                }

                .sitewrapper > .content .main > section > p.lead
                {
                    font-size: 1.429em;
                }

                .sitewrapper > .content .main > section h3
                {
                    font-size: 2em;
                    font-weight: 700;
                    line-height: 1.5em;
                }

                .sitewrapper > .content .main > section h4
                {
                    font-size: 1.429em;
                    font-weight: 700;
                    line-height: 1.5em;
                }
            

    .sitewrapper > .content.startpage
    {
        padding-top: 2.857em;
        text-align: center;
    }

        .sitewrapper > .content.startpage .box
        {
            margin-bottom: 2.857em;
        }

            .sitewrapper > .content.startpage .box > h2
            {
                font-size: 1.714em;
                line-height: 1.208em;
                margin: 0.833em 0 0.667em;
            }

            .sitewrapper > .content.startpage .box > p
            {
                font-size: 1.143em;
            }

body > footer
{
    padding: 3.571em 1.429em;
    text-align: center;
}

    body > footer > .links
    {
        margin: 0;
        padding: 0;
    }

        body > footer > .links > li
        {
            display: inline;
        }

.navbar
{
    background: none;
}

    .navbar > .navbar-inner
    {
        background: none #2184be;
        border: 0 none;
        min-height: 4.286em;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        .navbar > .navbar-inner h1
        {
            display: block;
            float: left;
            font-size: 1.429em;
            line-height: 1em;
            font-weight: 700;
            margin: 0 0.5em;
        }

            .navbar > .navbar-inner h1 > a
            {
                color: #fff;
                display: inline-block;
                padding: 1em;
                text-decoration: none;
            }

            .navbar > .navbar-inner h1 > a:hover
            {
                color: #ff7f00;
            }

        .navbar > .navbar-inner nav
        {
            float: right;
            line-height: 1em;
            margin: 0 0.714em;
        }

            .navbar > .navbar-inner nav ul
            {
                margin: 0 0.357em;
            }

                .navbar > .navbar-inner nav li
                {
                    display: inline-block;
                    line-height: 1em;
                }

                    .navbar > .navbar-inner nav a
                    {
                        color: #fff;
                        display: block;
                        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        padding: 1.643em 1.071em;
                        text-decoration: none;
                    }

                    .navbar > .navbar-inner nav a:hover,
                    .navbar > .navbar-inner nav a:active,
                    .navbar > .navbar-inner nav li.active a,
                    .navbar > .navbar-inner nav li.active a:hover,
                    .navbar > .navbar-inner nav li.active a:active
                    {
                        color: #ff7f00;

                        /* Overrides the behavior of bootstrap core */
                        background: none;
                        /*.noBoxShadow();
                        .noTextShadow();*/
                    }

                    .navbar > .navbar-inner nav li.active a
                    {
                        font-weight: 700;
                    }

@media (max-width: 1199px)
{
    .sitewrapper > header > p
    {
        width: 80%;
    }

        .sitewrapper > .content #lefthand-nav.affix
        {
            top: 7.143em;
            width: 220px;
        }
}

@media (max-width: 979px)
{
    .sitewrapper
    {
        padding-top: 0;
        width: auto;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        .sitewrapper > .content
        {
            /*padding-left: 1.429em;
            padding-right: 1.429em;*/
        }

            .sitewrapper > .content #lefthand-nav.affix
            {
                top: 2.857em;
                width: 22.92817679558011%;
                *width: 22.87498530621841%;
            }

        .sitewrapper > .content.startpage .box > h2
        {
            font-size: 1.429em;
        }

    .navbar 
    {
        margin-bottom: 0;
    }
}

@media (max-width: 767px)
{
    body
    {
        padding: 0;
    }

    .sitewrapper > .content
    {
        padding-left: 1.429em;
        padding-right: 1.429em;
    }

        .sitewrapper > .content #lefthand-nav
        {
            width: auto;
            margin: 0 20%;
        }

        .sitewrapper > .content #lefthand-nav.affix
        {
            position: static;
            width: auto;
            top: 0;
        }

        .sitewrapper > .content .main > section
        {
            padding-right: 0;
        }

        .sitewrapper > .content.startpage .box > h2
        {
            font-size: 2em;
        }

    .navbar
    {
        margin: 0;
    }

        .navbar > .navbar-inner h1
        {
            float: none;
            margin: 0.5em 0 0;
            text-align: center;
            width: 100%;
        }

            .navbar > .navbar-inner h1 > a
            {
                padding: 0.5em 1em;
            }

        .navbar > .navbar-inner nav
        {
            float: none;
            margin: 0 0 0.714em;
            text-align: center;
            width: 100%;
        }

            .navbar > .navbar-inner nav a
            {
                padding: 0.714em 1.071em;
            }
}

@media (max-width: 480px)
{
    .sitewrapper > .content #lefthand-nav
    {
        margin: 0 10%;
    }
}