@{
    ViewBag.Title = "Documentation";
    ViewBag.Prettify = true;
}

@section HtmlHeader
{
    <link rel="prev" title="jQuery Steps Examples" href="http://www.jquery-steps.com/Examples">
    <link rel="next" title="About Rafael Staib" href="http://www.jquery-steps.com/About">
}

@section Header
{
    <header id="banner" role="banner">
        <h1>Documentation</h1>
        <p>Learn more about jQuery Steps.</p>
    </header>
}

<div class="content">
    <div class="row-fluid">
        <nav id="lefthand" class="span3" role="navigation">
            <ul id="lefthand-nav" class="nav nav-list">
                <li><a href="#init">Initialization</a></li>
                <li><a href="#css">CSS</a></li>
                <li><a href="#options">Options</a></li>
                <li><a href="#methods">Methods</a></li>
                <li><a href="#requirements">Requirements</a></li>
                <li><a href="#browser">Browser Support</a></li>
                <li><a href="#integration">Integration</a></li>
            </ul>
        </nav>
        <div class="span9 main" role="main">
            <section id="init">
                <h2 class="page-header">Initialization</h2>
                <p class="lead">In this section you will learn how to intialize jQuery Steps and what will happen if you do that.</p>
                <h3>Lets get started!</h3>
                <p>To get started we just need two javascript references, a bit <abbr title="Hypertext Markup Language">HTML</abbr> and one line javascript code.</p>
<pre class="prettyprint linenums">    
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Demo&lt;/title&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;script src="jquery.js"&gt;&lt;/script&gt; 
        &lt;script src="jquery.steps.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;script&gt;
            $("#wizard").steps();
        &lt;/script&gt;
        &lt;div id="wizard"&gt;&lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>
                <h3>How to add steps?</h3>
                <p>As you may noticed in the example above we have not added any steps yet. 
                    However to include steps to your wizard before initialization you have to insert a 
                    bit more <abbr title="Hypertext Markup Language">HTML</abbr>. See the following example.</p>
<pre class="prettyprint linenums">
&lt;div id="wizard"&gt;
    &lt;h1&gt;First Step&lt;/h1&gt;
    &lt;div&gt;First Content&lt;/div&gt;
    &lt;h1&gt;Second Step&lt;/h1&gt;
    &lt;div&gt;Second Content&lt;/div&gt;
&lt;/div&gt;
</pre>
                <p>The important thing to mention here is that each step is represented by a title and a content element of your choice (more details on this later).</p>
                <h3>How to add steps dynamically?</h3>
                <p>In the last example we have added two steps by using the <abbr title="Hypertext Markup Language">HTML</abbr> way. 
                    This differs from the dynamic way, because the later requires that the wizard is already initialized. 
                    So in the next example we will just add some more javascript to the existing script block.</p>
<pre class="prettyprint linenums">
&lt;script&gt;
    var wizard = $("#wizard").steps();

    // Add one step after initialization
    wizard.steps("add", {
        title: "HTML code", 
        content: "&lt;strong&gt;HTML code&lt;/strong&gt;"
    });
&lt;/script&gt;
</pre>
                - css
                - transformation
                - id has to be unique

                <p class="alert alert-info"><strong>Info:</strong> </p>
            </section>
            <section id="css">
                <h2 class="page-header">CSS</h2>
                <p class="lead">In this section you will learn about styling and the capabilities you have.</p>
                <h3>Transformation</h3>
                <p>With transformation is meant the transition of the initial <abbr title="Hypertext Markup Language">HTML</abbr> code 
                    to the transformed <abbr title="Hypertext Markup Language">HTML</abbr> code.
                    So our initial code looks like that.</p>
<pre class="prettyprint linenums">
&lt;div id="wizard"&gt;
    &lt;h1&gt;First Step&lt;/h1&gt;
    &lt;div&gt;First Content&lt;/div&gt;
    &lt;h1&gt;Second Step&lt;/h1&gt;
    &lt;div&gt;Second Content&lt;/div&gt;
&lt;/div&gt;
</pre>
                <p>And after the transformation our resulting code looks like this.</p>
<pre class="prettyprint linenums">
&lt;div class="wizard clearfix" id="wizard" role="application"&gt;
    &lt;div class="steps clearfix"&gt;
        &lt;ul role="tablist"&gt;
            &lt;li class="first current" role="tab" aria-disabled="false" aria-selected="true"&gt;
                &lt;a id="steps-uid-1-t-0" aria-controls="steps-uid-1-p-0" href="#steps-uid-1-h-0"&gt;&lt;span class="current-info audible"&gt;current step: &lt;/span&gt;&lt;span class="number"&gt;1.&lt;/span&gt; First Step&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class="disabled" role="tab" aria-disabled="true"&gt;
                &lt;a id="steps-uid-1-t-1" aria-controls="steps-uid-1-p-1" href="#steps-uid-1-h-1"&gt;&lt;span class="number"&gt;2.&lt;/span&gt; Second Step&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="content clearfix"&gt;
        &lt;h1 tabindex="-1" class="title current" id="steps-uid-1-h-0"&gt;First Step&lt;/h1&gt;
        &lt;div class="body current" id="steps-uid-1-p-0" role="tabpanel" aria-hidden="false" aria-labelledby="steps-uid-1-h-0" style="display: block;"&gt;
            First Content
        &lt;/div&gt;
        &lt;h1 tabindex="-1" class="title" id="steps-uid-1-h-1"&gt;Second Step&lt;/h1&gt;
        &lt;div class="body" id="steps-uid-1-p-1" role="tabpanel" aria-hidden="true" aria-labelledby="steps-uid-1-h-1" style="display: none;"&gt;
            Second Content
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="actions clearfix"&gt;
        &lt;ul role="menu" aria-label="Pagination"&gt;
            &lt;li class="disabled" aria-disabled="true"&gt;
                &lt;a role="menuitem" href="#previous"&gt;Previous&lt;/a&gt;
            &lt;/li&gt;
            &lt;li aria-disabled="false" aria-hidden="false"&gt;
                &lt;a role="menuitem" href="#next"&gt;Next&lt;/a&gt;
            &lt;/li&gt;
            &lt;li aria-hidden="true" style="display: none;"&gt;
                &lt;a role="menuitem" href="#finish"&gt;Finish&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
                <p>The resulting or transformed code is just for showing you your capabilities and how it is structured.</p>
                <h3>CSS classes</h3>
                <p>A list of all <abbr title="Cascading Style Sheets">CSS</abbr> classes.</p>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span9">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Class name</th>
                            <th class="span9">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>wizard</code> *</td>
                            <td>The main <abbr title="Cascading Style Sheets">CSS</abbr> class; it is set on the outer component wrapper.</td>
                        </tr>
                        <tr>
                            <td><code>steps</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>content</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>actions</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>clearfix</code> *</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>current</code></td>
                            <td>Marks the active step (the current step, content title and content body).</td>
                        </tr>
                        <tr>
                            <td><code>current-info</code></td>
                            <td>Adds more information for screenreader on the current step.</td>
                        </tr>
                        <tr>
                            <td><code>audible</code></td>
                            <td>Labels content that is important for screenreader but not for normal browser.</td>
                        </tr>
                        <tr>
                            <td><code>disabled</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>first</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>last</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>error</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>done</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>number</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>body</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>title</code></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p class="muted">
                    <small>* The <abbr title="Cascading Style Sheets">CSS</abbr> class name can be customized on initialization by using the options.</small>
                </p>
            </section>
            <section id="options">
                <h2 class="page-header">Options</h2>
                <p class="lead">
                    Here you learn about customization.
                </p>
                <h3>Appearance</h3>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span2">
                        <col class="span7">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Name</th>
                            <th class="span2">Type</th>
                            <th class="span7">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>headerTag</code></td>
                            <td>String</td>
                            <td>The header tag is used to find the step button text within the declared wizard area. <em>Default value:</em> <code>h1</code></td>
                        </tr>
                        <tr>
                            <td><code>bodyTag</code></td>
                            <td>String</td>
                            <td>The body tag is used to find the step content within the declared wizard area. <em>Default value:</em> <code>div</code></td>
                        </tr>
                        <tr>
                            <td><code>contentContainerTag</code></td>
                            <td>String</td>
                            <td>The content container tag which will be used to wrap all step contents. <em>Default value:</em> <code>div</code></td>
                        </tr>
                        <tr>
                            <td><code>actionContainerTag</code></td>
                            <td>String</td>
                            <td>The action container tag which will be used to wrap the pagination navigation. <em>Default value:</em> <code>div</code></td>
                        </tr>
                        <tr>
                            <td><code>stepsContainerTag</code></td>
                            <td>String</td>
                            <td>The steps container tag which will be used to wrap the steps navigation. <em>Default value:</em> <code>div</code></td>
                        </tr>
                        <tr>
                            <td><code>cssClass</code></td>
                            <td>String</td>
                            <td>The css class which will be added to the outer component wrapper. <em>Default value:</em> <code>wizard</code></td>
                        </tr>
                        <tr>
                            <td><code>clearFixCssClass</code></td>
                            <td>String</td>
                            <td>The css class which will be used for floating scenarios. <em>Default value:</em> <code>clearfix</code></td>
                        </tr>
                        <tr>
                            <td><code>stepsOrientation</code></td>
                            <td>String or Integer</td>
                            <td> <em>Default value:</em> <code>horizontal</code> or <code>0</code></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Templates</h3>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span2">
                        <col class="span7">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Name</th>
                            <th class="span2">Type</th>
                            <th class="span7">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>transitionEffect</code></td>
                            <td>String or Integer</td>
                            <td>The animation effect which will be used for step transitions. <em>Default value:</em> <code>none</code> or <code>0</code></td>
                        </tr>
                        <tr>
                            <td><code>transitionEffectSpeed</code></td>
                            <td>Integer</td>
                            <td>Animation speed for step transitions (in milliseconds). <em>Default value:</em> <code>200</code></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Behaviour</h3>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span2">
                        <col class="span7">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Name</th>
                            <th class="span2">Type</th>
                            <th class="span7">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>autoFocus</code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>enableAllSteps</code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>enableKeyNavigation</code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code>enablePagination</code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Transition Effects</h3>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span2">
                        <col class="span7">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Name</th>
                            <th class="span2">Type</th>
                            <th class="span7">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Events</h3>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span2">
                        <col class="span7">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Name</th>
                            <th class="span2">Type</th>
                            <th class="span7">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Labels</h3>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="span3">
                        <col class="span2">
                        <col class="span7">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="span3">Name</th>
                            <th class="span2">Type</th>
                            <th class="span7">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code></code></td>
                            <td>String</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#lefthand-nav").affix({
                offset: {
                    top: function () {
                        return $("#topbar").outerHeight() + $("#banner").outerHeight();
                    }
                }
            });

            prettyPrint();
        });
    </script>
}