/*.linearGradient (@angle, @colorA, @colorB)
{
    background-color: @colorA;
    background-image: -moz-linear-gradient(@angle, @colorA, @colorB);
    background-image: -ms-linear-gradient(@angle, @colorA, @colorB);
    background-image: -o-linear-gradient(@angle, @colorA, @colorB);
    background-image: -webkit-linear-gradient(@angle, @colorA, @colorB);
    background-image: linear-gradient(@angle, @colorA, @colorB);
}*/

/*.noBoxShadow()
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.noTextShadow()
{
    -webkit-text-shadow: none;
    text-shadow: none;
}

.boxShadow(@hShadow, @vShadow, @blur, @spread, @color)
{
    -webkit-box-shadow: @hShadow @vShadow @blur @spread @color;
    -moz-box-shadow: @hShadow @vShadow @blur @spread @color;
    box-shadow: @hShadow @vShadow @blur @spread @color;
}*/

html
{
    font-size: 100%;
}

body
{
    background: url("images/bg.jpg") fixed repeat;
    color: #193954;
    font-size: 0.875em;
    line-height: 1.429em;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.nowrap
{
    white-space: nowrap;
}

.sitewrapper
{
    background: #fff;
    padding-top: 4.286em;

    -webkit-box-shadow: 0 0 12px 5px #e7e7e7;
    -moz-box-shadow: 0 0 12px 5px #e7e7e7;
    box-shadow: 0 0 12px 5px #e7e7e7;
}

    .sitewrapper > header
    {
        color: #2184be;
        position: relative;
        text-align: center;
        /*min-height: 22.857em;*/
        padding: 2.857em 1.429em 4.286em;
        margin: 0;

        background-color: #eee;
        background-image: -moz-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: -ms-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: -o-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: -webkit-linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
        background-image: linear-gradient(0deg, #eee 0%, #f3f3f3 70%);
    }

        .sitewrapper > header > h1
        {
            font-size: 4.286em;
            font-weight: normal;
            line-height: 1.167em;
            margin-bottom: 0.4em;

            -webkit-text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
            text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
        }

        .sitewrapper > header > p
        {
            font-size: 2.429em;
            line-height: 1.235em;
            margin: 0 auto 0.882em;
            width: 60%;

            -webkit-text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
            text-shadow: 2px 2px 3px rgba(100, 100, 115, 0.45);
        }

        .sitewrapper > header > .btn
        {
            border-color: #69c;
            color: #fff;
            font-size: 2em;
            line-height: 1em;
            padding: 0.25em 1em;

            background-color: #39c;
            background-image: -moz-linear-gradient(#39c, #69c);
            background-image: -ms-linear-gradient(#39c, #69c);
            background-image: -o-linear-gradient(#39c, #69c);
            background-image: -webkit-linear-gradient(#39c, #69c);
            background-image: linear-gradient(#39c, #69c);

            -webkit-text-shadow: 1px 1px 2px rgba(244, 244, 244, 0.65);
            text-shadow: 1px 1px 2px rgba(244, 244, 244, 0.65);
        }

        .sitewrapper > header > .btn:hover,
        .sitewrapper > header > .btn:active
        {
            background-image: none;
        }

    .sitewrapper > .socialbar
    {
        background: #eee;
        padding: 1.071em 1.429em;
        text-align: center;
    }

        .sitewrapper > .socialbar > .fb-like > span,
        .sitewrapper > .socialbar iframe
        {
            width: 110px !important;
        }

    .sitewrapper > .content
    {
        padding: 2.857em 0 1.429em;
    }

    .sitewrapper > .content.startpage
    {
        text-align: center;
    }

        .sitewrapper > .content.startpage .box
        {
            margin-bottom: 2.857em;
        }

            .sitewrapper > .content.startpage .box > h2
            {
                font-size: 1.714em;
                line-height: 1.208em;
                margin: 0.833em 0 0.667em;
            }

            .sitewrapper > .content.startpage .box > p
            {
                font-size: 1.143em;
                line-height: 1.250em;
            }

body > footer
{
    padding: 3.571em 1.429em;
    text-align: center;
}

    body > footer > .links
    {
        margin: 0;
        padding: 0;
    }

        body > footer > .links > li
        {
            display: inline;
        }

.navbar
{
    background: none;
}

    .navbar > .navbar-inner
    {
        background: none #2184be;
        border: 0 none;
        min-height: 4.286em;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        .navbar > .navbar-inner h1
        {
            display: block;
            float: left;
            font-size: 1.429em;
            line-height: 1em;
            font-weight: 700;
            margin: 0 0.5em;
        }

            .navbar > .navbar-inner h1 > a
            {
                color: #fff;
                display: inline-block;
                padding: 1em;
                text-decoration: none;
            }

            .navbar > .navbar-inner h1 > a:hover
            {
                color: #ff7f00;
            }

        .navbar > .navbar-inner nav
        {
            float: right;
            margin: 0 0.714em;
        }

            .navbar > .navbar-inner nav ul
            {
                margin: 0 0.357em;
            }

                .navbar > .navbar-inner nav li
                {
                    display: inline-block;
                }

                    .navbar > .navbar-inner nav a
                    {
                        color: #fff;
                        display: block;
                        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        padding: 1.429em 1.071em;
                        text-decoration: none;
                    }

                    .navbar > .navbar-inner nav a:hover,
                    .navbar > .navbar-inner nav a:active,
                    .navbar > .navbar-inner nav li.active a,
                    .navbar > .navbar-inner nav li.active a:hover,
                    .navbar > .navbar-inner nav li.active a:active
                    {
                        color: #ff7f00;

                        /* Overrides the behavior of bootstrap core */
                        background: none;
                        /*.noBoxShadow();
                        .noTextShadow();*/
                    }

                    .navbar > .navbar-inner nav li.active a
                    {
                        font-weight: 700;
                    }

.container.startpage
{
    text-align: center;
}

    .container.startpage > h1
    {
        font-size: 46px;
        font-weight: normal;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .container.startpage > p
    {
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;
        color: #999;
        margin-bottom: 40px;
    }

    .container.startpage h2
    {
        font-size: 28px;
        font-weight: normal;
    }

@media only screen and (max-width: 1199px)
{
    .sitewrapper > header > p
    {
        width: 80%;
    }
}

@media (max-width: 979px)
{
    .sitewrapper
    {
        padding-top: 0;
        margin: 0 -1.429em;
        width: auto;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        .sitewrapper > .content.startpage .box > h2
        {
            font-size: 1.429em;
        }

    .navbar 
    {
        margin-bottom: 0;
    }
}

@media (max-width: 767px)
{
    .sitewrapper > .content
    {
        padding-left: 1.429em;
        padding-right: 1.429em;
    }

    .sitewrapper > .content.startpage .box > h2
    {
        font-size: 2em;
    }

    .navbar > .navbar-inner h1
    {
        float: none;
        margin: 0.5em 0 0;
        text-align: center;
        width: 100%;
    }

        .navbar > .navbar-inner h1 > a
        {
            padding: 0.5em 1em;
        }

    .navbar > .navbar-inner nav
    {
        float: none;
        margin: 0 0 0.714em;
        text-align: center;
        width: 100%;
    }

        .navbar > .navbar-inner nav a
        {
            padding: 0.714em 1.071em;
        }
}

@media (max-width: 479px)
{

}